h1{
    font-size: 300px;
}
#navBar{
    width: 100%;
    background-color: #000000;
    height: 10%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
    transition: background 0.5s;
    display: block;
    outline: 0;
    width: 12.5vw;
    /*height: 10%;*/
    padding-top: 0px;
    font-weight: bold;
}
  
nav a:hover,
nav li:focus-within > a {
    background: #4b4b4b;
    cursor: pointer;
}
  
.dropdown-content {
    min-width: max-content;
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s;
}
  
.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
    max-height: 2000px;
}

@media screen and (min-width: 1000px) {
    
    nav > ul > li {
    float: left;
    }
    
    .dropdown {
        position: relative;
    }
    
    .dropdown-content {
        position: absolute;  
        width: max-content;
    }
    
    .content {
        clear: both;
    }
    
}